include core4/core4.yaml
recursive-include core4/service/project/template/ *
recursive-include core4/api/v1/request/_static/ *
recursive-include core4/api/v1/request/standard/template/ *
recursive-include core4/api/v1/request/store/template/ *
recursive-include core4/api/v1/request/role/template/ *
recursive-include core4/util/email_templates/ *

recursive-include core4/webapps/widgets/dist/ *
recursive-include core4/webapps/comoco/dist/ *