alabaster==0.7.11
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
docutils==0.14
Flask==1.0.2
Flask-Login==0.4.1
idna==2.7
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.5
packaging==17.1
pandas==0.22.0
Pygments==2.2.0
pymongo==3.6.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.3.0
sphinxcontrib-websupport==1.1.0
urllib3==1.23
Werkzeug==0.14.1
