.uc {
  text-transform: uppercase;
}

.container {
  padding: 16px;
}

.v-messages__message {
  padding-bottom: 1px;
}

.pnbi-tablehead-fixed {
  padding-top: 8px;
  position: fixed;
  top: 48px;
  background-color: darken(white, 1);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1);
}

.pnbi-tablehead-fixed+tbody {
  tr:first-child>td {
    padding-top: 72px;
  }
}

.v-datatable {
  tr {
    cursor: pointer;
  }

  tr.active {
    background-color: #eee;
  }

  tr.active+.v-datatable__expand-row .v-card {
    background: darken(#eee, 2);
  }
}


table.v-table tfoot tr td {
  padding: 0 0;
}

.expandable {
  position: relative;

  .v-icon.expandable {
    position: absolute;
    left: 6px;
  }

  .active {
    .v-icon.expandable {
      transform: rotate(90deg)
    }
  }
}

.bc-table-cell--head {
  font-weight: 600;
  color: var(--v-accent-base);
  font-size: 13px;
  text-transform: uppercase;
}

.bc-table-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.v-content__wrap {
  padding-top: 48px;
}

// view transtions
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: .33s;
}

.fade-enter-active {
  transition-delay: .33s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.v-select__selections .v-select__selection {
  font-size: 15px;
}

.v-text-field input,
.v-text-field textarea {
  font-size: 15px;
}

.auth-page{
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.auth-form-card {
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    content: "POWERED BY CORE4";
    display: block;
    user-select: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 800;
    line-height: 1.44;
    top: -46px;
    left: -16px;
    opacity: .1;
    font-size: 32px;
    @media (max-width: 600px) {
      top: -42px;
      line-height: 2;
      font-size: 24px;
    }
  }

  .bi-copyright,
  .bi-powered {
    user-select: none;
    width: 100%;
    text-align: center;
  }

  .bi-copyright {
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.6);
  }

  .bi-powered {
    color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
    line-height: 1.44;
    margin: -5px 0 0;

    @media (max-width: 600px) {
      line-height: 2;
      font-size: 24px;
    }
  }
}

.auth-form .v-card {
  max-width: 520px;
  margin: 0 auto;
  padding: 0 12px 12px 12px;
}