body.core-iv{
  h2.app-title{
    font-family: 'Poetsen One', cursive !important;
    font-size: 28px;
  }
  .bi-headline {
    font-family: 'Poetsen One', cursive !important;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}
// @import url(//fonts.googleapis.com/css?family=Material+Icons);
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800');

/* body,
button,
div,
html,
input,
p,
select,
span,
h1,
h2,
h3,
h4,
h5,
h6,
textarea {
  font-family: "Open Sans", sans-serif !important;
} */

/* .display-1 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 34px !important;
  font-weight: 400;
  line-height: 40px !important;
  letter-spacing: normal !important;
}

.headline {
  font-family: "Open Sans", sans-serif !important;
  font-size: 26px !important;
  font-weight: 800;
  line-height: 32px !important;
  text-transform: uppercase;
  letter-spacing: normal !important;
}

.title {
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px !important;
  font-weight: 600;
  line-height: 1 !important;
  letter-spacing: 0.02em !important;
}

.subheading {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400;
}

.body-2 {
  font-size: 14px !important;
  font-weight: 500;
}

.body-1 {
  font-size: 14px !important;
  font-weight: 400;
}

.caption {
  font-size: 12px !important;
  font-weight: 400;
} */

//bug 1.0.1 icon pos in fab is top not center
/* .v-icon.material-icons {
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  line-height: 1;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  vertical-align: middle;
} */
