$pending: #ffc107;
$deferred: #f1f128;
$failed: #11dea2;
$running: #64a505;
$error: #d70f14;
$inactive: #8d1407;
$killed: #d8c9c7;

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.job-count {
  font-weight: 500;
  font-size: 28px;
}
