$pending: #ffc107;
$deferred: #f1f128;
$failed: #11dea2;
$running: #64a505;
$error: #d70f14;
$inactive: #8d1407;
$killed: #d8c9c7;

$jobs-board-bck-color: #393939;
$job-panel-bck-color: #282828;

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.theme--dark {
}

.theme--light {
}