.theme--light .board {
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.theme--light .board .border-info {
  background-color: #f2f2f2;
}
.theme--light .board ::v-deep .flag.active {
  color: #ffffff;
}
.theme--light .board ::v-deep .flag.passive {
  color: rgba(255, 255, 255, 0.18);
}
.theme--light .board .jobs {
  overflow-y: auto;
  overflow-x: hidden;
}
.theme--light .board .jobs::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
.theme--light .board .jobs::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.theme--light .board .jobs::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.theme--light .board .jobs:hover::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}
.theme--light .board .job {
  background-color: #f2f2f2;
}
.theme--light .board .job:before {
  border-top-color: #fff;
  border-left-color: #f2f2f2;
}
.theme--light .board .job:hover {
  background-color: #e6ebf5;
}
.theme--light .board .job:hover:before {
  border-top-color: #fff;
  border-left-color: #e6ebf5;
}
.theme--light .chart {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
