.theme--dark {
  $jobs-board-bck-color: #393939;
  $info-panel-bck-color: #282828;
  $job-panel-bck-color: #282828;

  $scrollbar-track: #4a4a4a;
  $scrollbar-thumb: #5c5c5c;
  $scrollbar-thumb-hover: #737373;
  .board {
    /deep/ .flag.active {
      color: #ffffff;
    }
    /deep/ .flag.passive {
      color: rgba(255,255,255,0.18);
    }
    background-color: $jobs-board-bck-color;

    & .border-info {
      background-color: $info-panel-bck-color;
    }

    & .jobs {
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar-track {
        background-color: $scrollbar-track;
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
      }

      &:hover::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-hover;
      }
    }

    & .job {
      background-color: $job-panel-bck-color;

      &:before {
        border-top-color: $jobs-board-bck-color;
        border-left-color: $job-panel-bck-color;
      }

      &:hover {
        background-color: #2e2e2e;

        &:before {
          border-top-color: $jobs-board-bck-color;
          border-left-color: #2e2e2e;
        }
      }
    }
  }
}
