.application.theme--dark {

  $jobs-board-bck-color: #393939;
  $info-panel-bck-color: #282828;
  $job-panel-bck-color: #282828;

  $scrollbar-track: #4A4A4A;
  $scrollbar-thumb: #5C5C5C;
  $scrollbar-thumb-hover: #737373;

  .board {
    background-color: $jobs-board-bck-color;

    & .border-info {
      background-color: $info-panel-bck-color;
    }

    & .jobs {
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar-track {
        background-color: $scrollbar-track;
      }

      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
      }

      &:hover::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-hover;
      }
    }

    & .job{
      background-color: $job-panel-bck-color;

      &:before {
        border-top-color: $jobs-board-bck-color;
        border-left-color: $job-panel-bck-color;
      }

      &:hover {
        background-color: #2E2E2E;

        &:before {
          border-top-color: $jobs-board-bck-color;
          border-left-color: #2E2E2E;
        }
      }

      .flags {
        & .active {
          color: #ffffff
        }

        & .passive {
          color: #424242
        }
      }
    }
  }
}
